[Desktop Entry]
Name=calendar
Exec=/usr/bin/google-chrome-stable https://calendar.google.com/calendar/u/0/r
Icon=google-chrome
Terminal=false
Type=Application
Categories=Application