[Desktop Entry]
Name=Postman
Exec=/home/y/Documents/Postman/app/Postman
Icon=/home/y/Documents/Postman/app/resources/app/assets/icon.png
Terminal=false
Type=Application
Categories=Development