[Desktop Entry]
Name=grizzly valet
Exec=bash -c 'cd $HOME/code/grizzly;valet share;$SHELL'
Icon=utilities-terminal
Terminal=true
Type=Application
Categories=Application