[Desktop Entry]
Name=matsu-code
Exec=bash -c 'cd $HOME/code/matsu;code .'
Icon=com.visualstudio.code
Terminal=false
Type=Application
Categories=Application