[Desktop Entry]
Name=nakama doc
Exec=/usr/bin/google-chrome-stable https://heroiclabs.com/docs/runtime-code-basics/index.html
Icon=google-chrome
Terminal=false
Type=Application
